@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #dad9d7;
    text-align: center;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

footer {
    background-color: snow;
    text-align: center;
    padding: 5%;
}

footer .fa-solid:hover {
    color: red;
}

a {
    text-decoration: none;
    text-align: center;
}

img {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

main section article {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

main section article .fa-solid {
    display: flex;
    max-width: 60px;
    height: 60px;
    border: solid 2px green;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    left: 66%;
    bottom: 50px;
    font-size: 2rem;
    color: green;    
}
main section article .fa-solid:hover {
    animation: truck 2s;

}
.topHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    width: 50%;
    padding: 10px;
}
.fas-fa-bars {
    align-content: center;
}

.fa-solid {
    color: #03264C;
    font-size: 2em;
}

.formularioBuscar {
    background-color: #ffffff;
    border-radius: 5px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.fa-magnifying-glass {
    padding: 3px;
    font-size: 20px;
    font-size: 1em;
}
form .input {
    padding: 10px;
    border: none;
}

.titular {
    font-size: 24px;
    font-weight: 1000;
    color: #666;
}
.navbar ul {
    list-style: none;
}


.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #03264C;
    color: white;
    border-radius: 15%;
    padding: 1%;
}

.item {
    display: flex;
    flex: nowrap;
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
    align-items: baseline;
}
.itemPrecioDescuento{
    display: flex;
    flex-wrap: nowrap;
}
.precio {
    font-size: 20px;
    flex: 7;
}

.descuento {
    color: green;
    flex: 3;
}

.descripcion {
    opacity: 0%;
}
.descripcion:hover {
    opacity: 100%;
    transition: 400ms;
}



/* mobile */
@media (min-width: 100px) {

    .navbar {
        display: none;
        font-size: 1.1rem;
        align-items: baseline;
    }
    .topHeader{
        width: 90%;
        justify-content: center;
        margin: auto;
    }
    .logo{
        width: 90%;
    }
    .formularioBuscar {
        width: 90%;
        margin: auto;
    }
}

/* tablet */
@media (min-width: 426px) {

    main section article {
        box-shadow: 0px 0px 20px #999;
        width: 45%;
    }
    .topHeader{
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .logo, .formularioBuscar{
        width: 45%
    }
    form .input{
        width: 100%;
    }
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    }

/* desktop */
@media (min-width: 769px) {
    .logo, .formularioBuscar{
        width: 30%
    }    
    main section article {
        width: 45%;
    }

    .burger-menu {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        margin: 10px;
    }

    .item .precio .descuento{
        width: 50%;
    }
}
/* desktop */
@media (min-width: 1024px) {
    header {
        margin: 0 auto;
    }

    main section article {
        width: 22%;
    }
    footer .piePagina{
        display: flex;
    }
    footer div{
        padding: 10px;
    }
}

@keyframes truck {
    0% {
        scale: 100%
    }

    50% {
        rotate: -90deg
    }

    100% {
        rotate: 0deg
    }
}