<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b5052255e9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="topHeader">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </div>
            <div class="formularioBuscar">
                <form action="/login" method="GET">
                    <input type="text" name="buscar" placeholder="Buscar productos, marcas y más" class="input"
                        id="buscar">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta </a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
        <section class="ultimasvisitas">
            <p class="titular">Basado en tu última visita</p>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 6770 </p>
                        <p class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 230000 </p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 70500 </p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 23200 </p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>

        </section>

        <section class="ofertas">
            <p class="titular">Sección de Ofertas</p>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 6770 </p>
                        <p class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 230000 </p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 70500 </p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$ 23200 </p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <section>
        <footer>
            <div class="piePagina">
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <p class="titular">Pagá con tarjeta o en efectivo</p>
                    <p>Con MercadoLiebreCash tenés cuotas sin
                        interés con tarjeta o efectivo en puntos de
                        pago ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fa-solid fa-gift"></i>
                    <p class="titular">Envío gratis dede los $2500</p>
                    <p>Sólo por estar registrad@ en MercadoLiebre
                        tenés envíos gratis en miles de item.
                        Es un beneficio de MercadoPuntos.</p>
                </div>
                <div>
                    <i class="fa-solid fa-user-shield"></i>
                    <p class="titular">Seguridad de principio a fin</p>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre
                        no hay nada que no puedas hacer porque
                        siempre estás protegid@</p>
                </div>
            </div>
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </footer>
    </section>

</body>

</html>