<footer>
    <div class="piePagina">
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <p class="titular">Pagá con tarjeta o en efectivo</p>
            <p>Con MercadoLiebreCash tenés cuotas sin
                interés con tarjeta o efectivo en puntos de
                pago ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <p class="titular">Envío gratis dede los $2500</p>
            <p>Sólo por estar registrad@ en MercadoLiebre
                tenés envíos gratis en miles de item.
                Es un beneficio de MercadoPuntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <p class="titular">Seguridad de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque
                siempre estás protegid@</p>
        </div>
    </div>
    <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
</footer>